name: Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        compiler: [gcc, clang]
        os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04, macos-10.15, macos-12]
        exclude:
          - os: macos-10.15
            compiler: gcc
          - os: macos-12
            compiler: gcc
    env:
      CC: ${{ matrix.compiler }}

    steps:
    - uses: actions/checkout@v2

    - name: openssl path macos
      if: ${{ runner.os == 'macOS' }}
      run: |
        echo "OPENSSL_ROOT_DIR=/usr/local/opt/openssl" >> $GITHUB_ENV

    - name: make info
      run: |
        echo "OS: ${{ matrix.os }}"
        echo "--- ${{ matrix.compiler }} DEBUG VERSION ---"
        ${{ matrix.compiler }} - --version
        echo "--- make info ---"
        make info

    - name: test re.mk
      run: make -C mk -f test.mk

    - name: make
      run: make EXTRA_CFLAGS=-Werror CCACHE=

    - name: cmake
      run: |
        make cmake
        cmake --install build --prefix dist
    
    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: rem
        repo: https://github.com/baresip/rem
        secret: ${{ secrets.GITHUB_TOKEN }}
        working-directory: '../.'

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: retest
        repo: https://github.com/baresip/retest.git
        secret: ${{ secrets.GITHUB_TOKEN }}
        working-directory: '../.'

    - name: retest
      run: |
        cd ..
        rm re/libre.so || true
        rm re/libre.dylib || true
        make -C rem librem.a
        cd retest && make && ./retest -r
