name: clang analyze

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  clang-analyze:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: fix flaky azure mirrors
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo sed -i 's/azure\./de\./' /etc/apt/sources.list

    - name: Install clang-tools
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-15 main"
        sudo apt-get update && sudo apt-get install -y clang-tools-15

    - name: analyze
      run: | 
        cmake -B build -DCMAKE_C_COMPILER=clang-15
        analyze-build --cdb build/compile_commands.json --use-analyzer /usr/bin/clang-15
