name: CMake and Windows

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows (VS 2019/Ninja)",
            os: windows-2019,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2019\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat",
            generators: "Ninja"
          }

    steps:
      - uses: actions/checkout@v2

      - name: Install deps
        run: |
          choco install openssl

      - name: Build
        shell: cmd
        run: |
          call "${{ matrix.config.environment_script }}"
          cmake --version
          ninja --version
          cmake -S . -B build -G "${{ matrix.config.generators }}" -DCMAKE_C_FLAGS="/WX" 
          cmake --build build
