name: CMake and Windows

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows (VS 2022/Ninja) Debug",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat",
            generators: "Ninja",
            build: "Debug",
            openssl: true,
            disable_openssl: "OFF",
            testing: true
          }
        - {
            name: "Windows (VS 2022/Ninja) Release",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat",
            generators: "Ninja",
            build: "Release",
            openssl: true,
            disable_openssl: "OFF",
            testing: true
          }
        - {
            name: "Windows (VS 2022/Ninja) Debug 32-bit",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvarsamd64_x86.bat",
            generators: "Ninja",
            build: "Debug",
            openssl: true,
            disable_openssl: "OFF",
            choco: "--x86",
            testing: true
          }
        - {
            name: "Windows (VS 2022/Ninja) Debug 32-bit",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvarsamd64_x86.bat",
            generators: "Ninja",
            build: "Debug",
            openssl: true,
            disable_openssl: "OFF",
            testing: true
          }
        - {
            name: "Windows (VS 2022/Ninja) Debug ARM 64-bit",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvarsamd64_arm64.bat",
            generators: "Ninja",
            build: "Debug",
            openssl: false,
            disable_openssl: "ON",
            testing: false
          }

    steps:
      - uses: actions/checkout@v3

      - name: Install OpenSSL
        if: ${{ matrix.config.openssl }}
        run: |
          choco install --no-progress ${{ matrix.config.choco }} openssl

      - name: Build
        shell: cmd
        run: |
          call "${{ matrix.config.environment_script }}"
          cmake --version
          ninja --version
          cmake -S . -B build -G "${{ matrix.config.generators }}" -DCMAKE_C_FLAGS="/WX" -DCMAKE_BUILD_TYPE=${{ matrix.config.build }} -DCMAKE_DISABLE_FIND_PACKAGE_OpenSSL=${{ matrix.config.disable_openssl }}
          cmake --build build --parallel -t retest

      - name: retest
        if: ${{ matrix.config.testing }}
        shell: cmd
        run: |
          build\test\retest.exe -a -v
