name: Windows

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    name: ${{ matrix.config.name }}
    env:
      openssl_version: 3.5.2
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows Debug",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat",
            generators: "Ninja",
            build: "Debug",
            openssl: true,
            disable_openssl: "OFF",
            testing: true
          }
        - {
            name: "Windows Release",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat",
            generators: "Ninja",
            build: "Release",
            openssl: true,
            disable_openssl: "OFF",
            testing: true
          }
        - {
            name: "Windows Debug 32-bit",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvarsamd64_x86.bat",
            generators: "Ninja",
            build: "Debug",
            openssl: false,
            disable_openssl: "ON",
            choco: "--x86",
            testing: false
          }
        - {
            name: "Windows Debug ARM64",
            os: windows-2022,
            environment_script: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvarsamd64_arm64.bat",
            generators: "Ninja",
            build: "Debug",
            openssl: false,
            disable_openssl: "ON",
            testing: false
          }

    steps:
      - uses: actions/checkout@v4

      - name: Install NASM
        shell: bash
        run: |
          NASM_VERSION=2.16.03
          curl -LO https://www.nasm.us/pub/nasm/releasebuilds/${NASM_VERSION}/win64/nasm-${NASM_VERSION}-win64.zip
          mkdir nasm
          unzip nasm-${NASM_VERSION}-win64.zip -d nasm
          echo "${GITHUB_WORKSPACE}\nasm\nasm-${NASM_VERSION}" >> $GITHUB_PATH

      - name: Download OpenSSL
        if: ${{ matrix.config.openssl }}
        shell: cmd
        run: |
          curl -LO https://www.openssl.org/source/openssl-${{ env.openssl_version }}.tar.gz
          tar -xzf openssl-${{ env.openssl_version }}.tar.gz

      - name: Build OpenSSL
        if: ${{ matrix.config.openssl }}
        shell: cmd
        run: |
          call "${{ matrix.config.environment_script }}"
          cd openssl-${{ env.openssl_version }}
          perl Configure VC-WIN64A
          rmdir /s /q C:\Program Files\OpenSSL
          nmake
          nmake install

      - name: Build
        shell: cmd
        run: |
          call "${{ matrix.config.environment_script }}"
          cmake --version
          ninja --version
          cmake -S . -B build -G "${{ matrix.config.generators }}" -DCMAKE_C_FLAGS="/WX" -DCMAKE_BUILD_TYPE=${{ matrix.config.build }} -DCMAKE_DISABLE_FIND_PACKAGE_OpenSSL=${{ matrix.config.disable_openssl }}
          cmake --build build --parallel -t retest

      - name: retest
        if: ${{ matrix.config.testing }}
        shell: cmd
        run: |
          build\test\retest.exe -a -v
