name: Coverage

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  coverage:
    runs-on: ubuntu-latest

    env:
      CMAKE_GENERATOR: Ninja

    steps:
    - uses: actions/checkout@v3

    - name: fix flaky azure mirrors
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo sed -i 's/azure\./de\./' /etc/apt/sources.list

    - name: install packages
      run: |
        sudo apt-get update && sudo apt-get install -y ninja-build

    - name: make
      run: | 
        cmake -B build -DCMAKE_C_FLAGS="--coverage" && cmake --build build -j

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: retest
        repo: https://github.com/baresip/retest.git
        secret: ${{ secrets.GITHUB_TOKEN }}
        working-directory: '../.'

    - name: retest
      run: |
        cd ..
        cd retest; cmake -B build -DCMAKE_EXE_LINKER_FLAGS="--coverage" && \
           cmake --build build -j && \
          ./build/retest -a -v && \
          ./build/retest -r -m select -v

    - name: gcov
      run: | 
        cd ../re
        gcov build/**/*.o

    - name: install gcovr
      run: |
        pip install gcovr==5.0

    - name: coverage check
      run: |
        min_cov="40.0"
        cov=$(~/.local/bin/gcovr -r . -s | grep lines | awk '{ print $2 }' | sed 's/%//')
        echo "Coverage: ${cov}% (min $min_cov%)"
        exit $(echo "$cov < $min_cov" | bc -l)
