name: Daily Coverity Check

on:
  schedule:
    - cron:  '30 6 * * *'
  push:

jobs:
  coverity:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: sreimers/coverity-scan-action@v0
      with:
        project: 'baresip%2Fre'
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        command: make libre.a
        email: 'hallo@studio-link.de'
