name: FreeBSD

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    env:
      CMAKE_GENERATOR: Ninja

    steps:
    - uses: actions/checkout@v5

    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install -y ninja cmake

        run: |
          freebsd-version
          cmake -B build && cmake --build build -t retest
          ./build/test/retest -r -v
