name: iOS

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  ios:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v5

    - name: build Xcode
      run: |
        cmake -B build_xcode -G Xcode -DCMAKE_SYSTEM_NAME=iOS -DCMAKE_OSX_DEPLOYMENT_TARGET=12.0 -DCMAKE_DISABLE_FIND_PACKAGE_OpenSSL=ON -DUSE_OPENSSL=OFF -DCMAKE_C_FLAGS="-Werror"
        cmake --build build_xcode -- CODE_SIGNING_ALLOWED=NO

    - name: normal build
      run: |
        cmake -B build -DCMAKE_SYSTEM_NAME=iOS -DCMAKE_OSX_DEPLOYMENT_TARGET=12.0 -DCMAKE_DISABLE_FIND_PACKAGE_OpenSSL=ON -DUSE_OPENSSL=OFF -DCMAKE_C_FLAGS="-Werror"
        cmake --build build -j
