name: MinGW-w64 Test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  MinGW-w64-build:
    runs-on: ubuntu-22.04

    env:
      CMAKE_GENERATOR: Ninja

    steps:

    - name: fix flaky azure mirrors
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo sed -i 's/azure\./de\./' /etc/apt/sources.list

    - name: "install packages"
      run: |
        sudo apt-get update && sudo apt-get install -y mingw-w64 ninja-build
    
    - uses: actions/checkout@v5 # needed for pr checkout

    - uses: sreimers/pr-dependency-action@v0.6
      with:
        name: baresip-win32
        repo: https://github.com/baresip/baresip-win32
        secret: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/checkout@v5
      with:
        path: baresip-win32/re

    - uses: actions/cache@v4
      id: openssl
      with:
        path: baresip-win32/openssl
        key: ${{ runner.os }}-mingw-openssl-3.5.0

    - name: "build openssl"
      if: steps.openssl.outputs.cache-hit != 'true'
      run: |
        wget https://www.openssl.org/source/openssl-3.5.0.tar.gz
        tar -xzf openssl-3.5.0.tar.gz
        mv openssl-3.5.0 baresip-win32/openssl
        make -j$(nproc) -C baresip-win32 openssl

    - name: "build"
      run: |
        cd baresip-win32 && make retest
    
    - uses: actions/upload-artifact@v4
      with:
        name: retest-exe
        path: baresip-win32/re/build/test/retest.exe
        retention-days: 1

  wintest:
    runs-on: windows-latest
    needs: MinGW-w64-build

    steps:
    - uses: actions/checkout@v5
    - uses: actions/download-artifact@v4
    - uses: sreimers/pr-dependency-action@v0.6
      with:
        name: re
        repo: https://github.com/baresip/re
        secret: ${{ secrets.GITHUB_TOKEN }}

    - name: "cv2pdb"
      run: |
        curl -L https://github.com/rainers/cv2pdb/releases/download/v0.52/cv2pdb-0.52.zip --output cv2pdb.zip
        unzip -o cv2pdb.zip
      shell: bash

    - name: "prepare retest.exe"
      run: mv retest-exe/retest.exe re/ && cd re && ../cv2pdb.exe ./retest.exe
      shell: bash

    - name: "run retest.exe"
      run: cd re && ./retest.exe -v -ri
      shell: bash
