name: Alpine (musl)

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    container: alpine

    env:
      CMAKE_GENERATOR: Ninja

    steps:
    - uses: actions/checkout@v5
    - name: install devel tools
      run: |
        apk add musl-dev git cmake gcc g++ make binutils openssl-dev linux-headers zlib-dev ninja

    - name: make
      run: |
        cmake -B build -DCMAKE_C_FLAGS="-Werror"
        cmake --build build -j
