on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build_job:
    # The host should always be linux
    runs-on: ubuntu-22.04
    name: Build on ${{ matrix.distro }} ${{ matrix.arch }}

    strategy:
      matrix:
        include:
          - arch: aarch64
            distro: bookworm
          - arch: armv7
            distro: ubuntu22.04

    steps:
      - uses: actions/checkout@v5

      - uses: uraimo/run-on-arch-action@v3
        name: Build artifact
        id: build
        with:
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}

          # Not required, but speeds up builds
          githubToken: ${{ github.token }}

          install: |
            case "${{ matrix.distro }}" in
              ubuntu*|jessie|stretch|buster|bullseye|bookworm)
                apt-get update -q -y
                apt-get install -q -y cmake gcc g++ libssl-dev ninja-build
                ;;
            esac

          run: |
            cmake -G Ninja -B build -DCMAKE_C_FLAGS="-Werror"
            cmake --build build -j --target retest
            ./build/test/retest -r -v
