name: Sanitizers

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  sanitizers:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-22.04]
        sanitizer: [thread, address]
    env:
      CC: clang
      CMAKE_GENERATOR: Ninja
      CFLAGS: "-fsanitize=${{ matrix.sanitizer }}"
      ASAN_OPTIONS: fast_unwind_on_malloc=0

    steps:
    - uses: actions/checkout@v3

    - name: fix flaky azure mirrors
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo sed -i 's/azure\./de\./' /etc/apt/sources.list

    - name: install packages
      run: |
        sudo apt-get update && sudo apt-get install -y ninja-build

    - name: make info
      run: |
        echo "OS: ${{ matrix.os }}"
        clang - --version

    - name: cmake
      run: |
        cmake -B build -DHAVE_THREADS= && cmake --build build -j -t retest

    - name: retest
      run: |
        ./build/test/retest -rtiv
