name: OpenSSL no-deprecated and LibreSSL

on: [push, pull_request]

jobs:
  ssl:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ssl: [libressl, openssl]

    steps:
    - uses: actions/checkout@v3
    - name: Download pre-compiled OpenSSL/LibreSSL
      run: |
        wget "https://github.com/baresip/ci/releases/download/v0.1/assets.tar.gz"
        tar -xf assets.tar.gz
    - name: make
      run: cmake -B build -DCMAKE_C_FLAGS="-Iassets/${{ matrix.ssl }}/include -Werror" -DCMAKE_EXE_LINKER_FLAGS="-Lassets/${{ matrix.ssl }}" && cmake --build build -j
