name: Strict C checks

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  strict-c:
    runs-on: ubuntu-latest

    env:
      CMAKE_GENERATOR: Ninja

    steps:
    - uses: actions/checkout@v5

    - name: fix flaky azure mirrors
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo sed -i 's/azure\./de\./' /etc/apt/sources.list

    - name: install packages
      run: |
        sudo apt-get update && sudo apt-get install -y ninja-build

    - name: make strict C99
      run: | 
        cmake -DCMAKE_C_STANDARD=99 -DCMAKE_C_EXTENSIONS=OFF  -DCMAKE_C_FLAGS="-Werror" -B build 
        cmake --build build
        rm -Rf build

    - name: make strict C11
      run: | 
        cmake -DCMAKE_C_STANDARD=11 -DCMAKE_C_EXTENSIONS=OFF -DCMAKE_C_FLAGS="-Werror" -B build
        cmake --build build
        rm -Rf build
