name: valgrind leak check

on: [push, pull_request]

jobs:
  valgrind:
    runs-on: ubuntu-20.04

    env:
      CMAKE_GENERATOR: Ninja

    steps:
    - uses: actions/checkout@v3

    - name: install packages
      run: |
        sudo apt-get update && sudo apt-get install -y libssl-dev valgrind ninja-build

    - name: make
      run: |
        cmake -B build && cmake --build build -j

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: rem
        repo: https://github.com/baresip/rem
        secret: ${{ secrets.GITHUB_TOKEN }}
        working-directory: '../.'

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: retest
        repo: https://github.com/baresip/retest
        secret: ${{ secrets.GITHUB_TOKEN }}
        working-directory: '../.'

    - name: retest
      run: |
        cd ..
        cmake -S rem -B rem/build && cmake --build rem/build
        cd retest
        cmake -B build && cmake --build build -j
        valgrind --leak-check=full --show-reachable=yes --error-exitcode=42 ./build/retest -r -v
