name: valgrind leak check

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  valgrind:
    runs-on: ubuntu-latest

    env:
      CMAKE_GENERATOR: Ninja

    steps:
    - uses: actions/checkout@v5

    - name: fix flaky azure mirrors
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo sed -i 's/azure\./de\./' /etc/apt/sources.list

    - name: install packages
      run: |
        sudo apt-get update && sudo apt-get install -y libssl-dev valgrind ninja-build

    - name: make
      run: |
        cmake -B build && cmake --build build -j -t retest

    - name: retest
      run: |
        valgrind --leak-check=full --show-reachable=yes --error-exitcode=42 ./build/test/retest -r -v
